grey =            #cccccc
error-red =       #D0021B
grey-text =       #515151
trueblue =        #1482BA

global-reset()

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  color: grey-text;
  margin: 25px 50px;
  font-size: 16px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

